$color-orange: #FFA12F;
$color-violet: #656EEA;
$color-blue: #2589FE;
$color-blue-dark: #1C64B8;
$color-navy-blue: #0240DE;
$color-navy-blue-dark: #03257C;
$color-white: #FFFFFF;
$color-purple: #3A4089;
$color-gray: #686A88;

$color-text: $color-gray;
$color-text-heading: $color-purple;
$color-link: $color-violet;