.about {
    padding-bottom: 220px;

    @media screen and (max-width: 1072px) {
        padding-bottom: 180px;
    }

    @media screen and (max-width: 712px) {
        padding-bottom: 123px;
    }
    
    &__image-box {
        position: relative;
    }

    &__image {
        width: initial;
        height: initial;
        object-fit: initial;
        object-position: initial;
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}