.contact-info {
    &__info {
        
    }

    &__item {
        font-size: 22px;
        line-height: 120%;
    }

    &__strong {
        color: $color-purple;
        font-weight: 600;
        line-height: 130%;
    }

    &_violet {
        .contact-info__item {
            color: $color-violet;
        }

        .contact-info__strong {
            color: inherit;
        }
    }

    &_sm {
        .contact-info__strong {
            font-size: 30px;
        }
    }
}