.decor-element {
    z-index: -1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    &_1 {
        top: -539px;
    }

    &_2 {
        transform: translateX(calc(-50% - 197px));
        bottom: -417px;
    }

    @media screen and (max-width: 850px) {
        display: none;
    }
}