.main-header {

    &__container {
        max-width: 1683px + 30px;
        margin: 0 auto;
        padding: 20px 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}