.main-menu {
    &__list {
        display: flex;

        @media screen and (max-width: 1713px) {
            border-top: 4px solid $color-orange;

            display: block;
        }
    }

   

    &__link {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;

        position: relative;

        &::after {
            content: '';
            border-radius: 50%;
            background: $color-red;
            opacity: 0;
            transition: opacity .13s linear;

            display: block;
            width: 10px;
            height: 10px;
            position: absolute;
            left: 50%;
            top: calc(100% + 5px);
            transform: translateX(-50%);

            @media screen and (max-width: 1713px) {
                opacity: 1;

                width: 25px;
                height: 25px;
                left: auto;
                top: 50%;
                right: 9px;
                transform: translateY(-50%) translateX(0);

            }
        }

        &_violet {
            &::after {
                background: $color-violet;                
            }
        }

        &_orange {
            &::after {
                background: $color-orange;                
            }
        }

        &_aqua {
            &::after {
                background: #94C9D7;                
            }
        }

        &_navy-blue-dark {
            &::after {
                background: $color-navy-blue-dark;                
            }
        }

        &_purple {
            &::after {
                background: #CAAFFD;                
            }
        }

        &:hover {
            &::after {
                opacity: 1;
            }
        }

        @media screen and (max-width: 1713px) {
            font-size: 18px;
            line-height: 21.94px;
            border-bottom: 4px solid $color-orange;

            display: block;
            padding: 30px 0;
        }
    }

    &__item {
        + * {
            margin-left: 88px;

            @media screen and (max-width: 1713px) {
                margin-left: 0;
            }
        }
    }

    @media screen and (max-width: 1713px) {
        display: none;
        background: $color-white;
        z-index: 99;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        padding: 30px 15px 30px;
    }
}

.main-header.main-menu_active {
    background: $color-white;

    .main-menu {
        display: block;
    }
}