.offer-item {
    display: flex;
    justify-content: space-between;
    gap: 0 70px;

    &_reverse {
        flex-direction: row-reverse;
    }

    &__text {
        flex-basis: 701px;
    }

    &__title {
        margin-bottom: 30px;
        max-width: 500px;
    }

    &__image-box {
        border-radius: 50%;
        box-shadow: 0px 0px 50px -14px;
        border: 18px solid;

        overflow: hidden;
        flex-shrink: 0;
        margin-top: -25px;
        width: 444px;
        height: 444px; // 33.552631578947%

        &_red {
            color: $color-red;
        }

        &_violet {
            color: $color-violet;
        }

        &_orange {
            color: $color-orange;
        }

        &_blue {
            color: $color-navy-blue-dark;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right;
    }
}