.offer {
    &__container {
        padding-top: 132px;
    }

    &__item {
        margin-bottom: 256px;
    }

    &__descr {
        margin-bottom: 72px;
    }

    &__btn {
        float: right;
        margin-right: 91px;
    }
}