.partners {
    text-align: center;
    padding-bottom: 220px;

    &__container {
        box-shadow: 0px 0px 50px -3px #94C9D7;
        border: 18px solid #94C9D7;
        border-radius: 150px;

        padding: 46px 0 107px 0;
    }

    &__title {
        margin-bottom: 30px;
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 0 123px;
    }

    &__item {
        width: 186px;
    }

    &__caption {
        font-weight: 500;
    }

    &__image-box {
        border-radius: 50%;
        border: 3px solid;

        overflow: hidden;
        max-width: 100%;
        height: 186px;
        margin-bottom: 30px;

        &_orange {
            color: $color-orange;
        }
        
        &_violet {
            color: $color-violet;

            .partners__img {
                object-position: center;
                object-fit: scale-down;
            }
        }
        
        &_red {
            color: $color-red;
        }
    }

    &__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}