.slide-menu {
    // display: none;
    position: absolute;
    left: 103px;
	// offset-rotate: 0deg;
	// offset-path: path("M38.5 1.00317C17.7436 1.27083 1 18.18 1 39C1 59.9868 18.0132 77 39 77C59.9868 77 77 59.9868 77 39C77 18.18 59.7564 1.26766 39 1");
	// animation: move 5s linear infinite;

    circle {
        cursor: pointer;
        transition: r .26s;
    }

    &_vertical {
        @media screen and(max-width: 1744px) {
            display: none;
        }
    }
}


@keyframes move {
	100% {
		offset-distance: 100%;
	}
}