* {
    box-sizing: border-box;

    &::before, &::after {
        box-sizing: border-box;
    }
}

body {
    font-family: $font-primary, $font-secondary;
    font-size: $text-base-size;
    color: $color-gray;
    line-height: 125%;

    position: relative;
}

h2, .partners__caption {
    font-weight: 600;
    font-size: $text-lg;
    color: $color-purple;
    line-height: 123%;

    @media screen and (max-width: 480px) {
        font-size: 22px;
    }
}

a {
    text-decoration: none;
    color: $color-violet;
}

img {
    display: block;
    height: auto;
}

input {
    border: none;
}