// Utils
@import "utils/functions",
        "utils/mixins",
        "utils/colors",
        "utils/fonts",
        "utils/vars";

// Lib
@import "lib";

// Svg sprites
// @import "_svg-sprite";

// Fonts
@import "fonts";

// Base
@import "base";

// Layout
@import "layout/container";
@import "layout/site-container";

// Blocks
@import "blocks/main-header";
@import "blocks/main-menu";