// Utils
@import "utils/functions",
        "utils/mixins",
        "utils/colors",
        "utils/fonts",
        "utils/vars";

// Lib
@import "lib";

// Svg sprites
// @import "_svg-sprite";

// Fonts
@import "fonts";

// Base
@import "base";

// Layout
@import "layout/container";
@import "layout/site-container";

// Blocks
@import "blocks/main-header";
@import "blocks/main-menu";
@import "blocks/phone-number";
@import "blocks/container";
@import "blocks/offer";
@import "blocks/btn";
@import "blocks/offer-item";
@import "blocks/partners";
@import "blocks/about";
@import "blocks/contacts";
@import "blocks/contact-info";
@import "blocks/main-footer";